<!DOCTYPE html>
<html ng-app="ehealth">
  <head>
    <meta charset="utf-8">
    <title>With Love - Sam</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
      <div ng-controller="SaveController as saveCtrl" class="container" ng-init="getAllDoc()">
        <h1 class="header">Bald Page </h1><h4>Done with all the love for JS</h4>
        <form class="panel form-inline" name="collector" ng-submit="">
          <div class="form-group">
          <input class="form-control" type="text" name="fullname" ng-model="fullname" placeholder="Full name">
          <input class="form-control form-inline" type="text" name="Hobbies" ng-model="hobby" placeholder="Hobbies e.g. killing germs with ruby">
          <button class="btn btn-primary btn-default" ng-click="put()">Save to Pouch!</button>
        </div>
        </form>
        <div class="form-group" >
          <table class="table">
            <tr>
              <th>Full Name</th>
              <th>Hobbies</th>
              <th>Date</th>
            </tr>
            <tr ng-repeat="d in product.rows">
              <td> {{d.doc.fullname}}</td>
              <td>{{d.doc.hobby}}</td>
              <td>{{d.doc.date | date:'fullDate'}}
            </tr>
          </table>
        </div>
      </div>
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="bower_components/pouchdb/dist/pouchdb.js"></script>
      <script type="text/javascript" src="bower_components/angular-pouchdb/angular-pouchdb.min.js"></script>
      <script type="text/javascript" src="app.js"></script>
  </body>
</html>
